/* General Body Styling */
body {
    margin: 0;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url('bg.jpg');  /* Replace with your image URL */
    background-size: cover;
    background-position: center;
  }
  
 